:root {
  /* --blue: #293663; */
  --blue: #080c27;
  --sand: #ab8964;
  --text: #1e2025;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
section {
  scroll-margin-top: 2rem;
  scroll-snap-align: start;
  height: 400px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--blue);
  color: white;
}

.navbar {
  display: flex;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.navbar > * {
  margin: 0 1.2rem;
}

.navbar > .push {
  margin-left: auto;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}
.section-content {
  padding: 1.2rem;
}