body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
	width: 90%;
	height: 100%;
	padding: 0px;
	margin: 0 auto;
}

h1 {
	margin: 100px auto;
	width: 550px;
	font-family: 'HelveticaNeueW01-Thin', Helvetica, Arial, sans-serif;
	font-size: 5em;
	font-weight: lighter;
	color: #545E60;
}